In [ ]:
import sqlite3
import pandas as pd

!rm -f chinook.db chinook.zip
!wget https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip
!unzip -o chinook.zip

conn = sqlite3.connect('chinook.db')
print("✅ データベース接続完了。SQL練習を再開できます。")

In [ ]:
!pip install ipython-sql --quiet
import sqlite3
import pandas as pd

!wget -nc https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip
!unzip -n chinook.zip

%load_ext sql

%sql sqlite:///chinook.db

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 19.8 MB/s eta 0:00:00
Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/pip/_internal/cli/base_command.py", line 179, in exc_logging_wrapper
    status = run_func(*args)
             ^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/pip/_internal/cli/req_command.py", line 67, in wrapper
    return func(self, options, args)
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/pip/_internal/commands/install.py", line 447, in run
    conflicts = self._determine_conflicts(to_install)
                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/pip/_internal/commands/install.py", line 578, in _determine_conflicts
    return check_install_conflicts(to_install)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/pip/_internal/operations/check.py", line 101, in check_install_conflicts
    package_set, _ = create_package_set_from_installed()
                     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/pip/_internal/operations/check.py", line 39, in create_package_set_from_installed
    for dist in env.iter_installed_distributions(local_only=False, skip=()):
                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/pip/_internal/metadata/base.py", line 664, in <genexpr>
    return (d for d in it if d.canonical_name not in skip)
                       ^^
  File "/usr/local/lib/python3.12/dist-packages/pip/_internal/metadata/base.py", line 612, in iter_all_distributions
    for dist in self._iter_distributions():
                ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/pip/_internal/metadata/importlib/_envs.py", line 176, in _iter_distributions
    yield from finder.find(location)
  File "/usr/local/lib/python3.12/dist-packages/pip/_internal/metadata/importlib/_envs.py", line 79, in find
    for dist, info_location in self._find_impl(location):
                               ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/pip/_internal/metadata/importlib/_envs.py", line 64, in _find_impl
    raw_name = get_dist_name(dist)
               ^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/pip/_internal/metadata/importlib/_compat.py", line 52, in get_dist_name
    name = cast(Any, dist).name
           ^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/importlib/metadata/__init__.py", line 457, in name
    return self.metadata['Name']
           ^^^^^^^^^^^^^
  File "/usr/lib/python3.12/importlib/metadata/__init__.py", line 452, in metadata
    return _adapters.Message(email.message_from_string(text))
                             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/email/__init__.py", line 37, in message_from_string
    return Parser(*args, **kws).parsestr(s)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/email/parser.py", line 64, in parsestr
    return self.parse(StringIO(text), headersonly=headersonly)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/email/parser.py", line 53, in parse
    feedparser.feed(data)
  File "/usr/lib/python3.12/email/feedparser.py", line 174, in feed
    self._call_parse()
  File "/usr/lib/python3.12/email/feedparser.py", line 178, in _call_parse
    self._parse()
  File "/usr/lib/python3.12/email/feedparser.py", line 462, in _parsegen
    for line in self._input:
                ^^^^^^^^^^^
  File "/usr/lib/python3.12/email/feedparser.py", line 128, in __next__
    line = self.readline()
           ^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/email/feedparser.py", line 77, in readline
    def readline(self):

KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/bin/pip3", line 10, in <module>
    sys.exit(main())
             ^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/pip/_internal/cli/main.py", line 80, in main
    return command.main(cmd_args)
           ^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/pip/_internal/cli/base_command.py", line 100, in main
    return self._main(args)
           ^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/pip/_internal/cli/base_command.py", line 232, in _main
    return run(options, args)
           ^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/pip/_internal/cli/base_command.py", line 215, in exc_logging_wrapper
    logger.critical("Operation cancelled by user")
  File "/usr/lib/python3.12/logging/__init__.py", line 1576, in critical
    def critical(self, msg, *args, **kwargs):

KeyboardInterrupt
^C
File ‘chinook.zip’ already there; not retrieving.

Archive:  chinook.zip

In [ ]:
(%%sql

SELECT
    T1.Name,
    COUNT(T2.AlbumId) AS AlbumCount
FROM
    artists AS T1
JOIN
    albums AS T2 ON T1.ArtistId = T2.ArtistId
GROUP BY
    T1.Name
ORDER BY
    AlbumCount DESC
LIMIT 5;

SyntaxError: invalid syntax (ipython-input-4198679720.py, line 1)

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('chinook.db')

sql_query = """
SELECT
    T1.Name,
    COUNT(T2.AlbumId) AS AlbumCount
FROM
    artists AS T1
JOIN
    albums AS T2 ON T1.ArtistId = T2.ArtistId
GROUP BY
    T1.Name
ORDER BY
    AlbumCount DESC
LIMIT 5;
"""

df_results = pd.read_sql_query(sql_query, conn)

conn.close()

print(df_results)

In [ ]:
sql_query = """
SELECT T1.Name, COUNT(T2.AlbumId) AS AlbumCount
FROM artists AS T1
JOIN albums AS T2 ON T1.ArtistId = T2.ArtistId
GROUP BY T1.Name
HAVING AlbumCount = (
    SELECT MAX(AlbumCount) FROM (
        SELECT COUNT(AlbumId) AS AlbumCount
        FROM albums
        GROUP BY ArtistId
    )
)
ORDER BY AlbumCount DESC;
"""

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('chinook.db')
cursor = conn.cursor()

update_query = """
UPDATE artists
SET Name = 'AC/DC - Official'
WHERE ArtistId = 1;
"""
cursor.execute(update_query)

conn.commit()

select_query = "SELECT ArtistId, Name FROM artists WHERE ArtistId = 1;"
df_updated = pd.read_sql_query(select_query, conn)

conn.close()

print(df_updated)

In [ ]:
    select_query_fail = "SELECT * FROM artists LIMIT 5;"
    df_fail = pd.read_sql_query(select_query_fail, conn)
    print("エラー: テーブルが残っています")
    # 期待される結果: OperationalError: no such table: artists
    print("✅ artists テーブルは正常に削除されました。")

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('chinook.db')

In [ ]:
sql_query = """
SELECT(
    T1.Name,
    COUNT(T2.AlbumId) AS AlbumCount
FROM
    artists AS T1
JOIN
    albums AS T2 ON T1.ArtistId = T2.ArtistId
GROUP BY
    T1.Name
HAVING
    AlbumCount DESC;
"""
df_results = pd.read_sql_query(sql_query, conn)
print(df_results)

In [ ]:
import sqlite3
import pandas as pd
!wget -nc https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip
!unzip -n chinook.zip

conn = sqlite3.connect('chinook.db')
print("✅ データベース接続完了。手入力練習に進めます。")

In [ ]:
sql_query = """
SELECT(
    T1.Name,
    COUNT(T2.AlbumId) AS AlbumCount
FROM
    artists AS T1
JOIN
    albums AS T2 ON T1.ArtistId = T2.ArtistId
GROUP BY
    T1.Name
HAVING
    AlbumCount DESC;
"""
df_results = pd.read_sql_query(sql_query, conn)
print(df_results)

In [ ]:
sql_query = """
SELECT
    T1.Name,
    COUNT(T2.AlbumId) AS AlbumCount
FROM
    artists AS T1
JOIN
    albums AS T2 ON T1.ArtistId = T2.ArtistId
GROUP BY
    T1.Name
HAVING
    AlbumCount >= 10
ORDER BY
    AlbumCount DESC;
"""
df_results = pd.read_sql_query(sql_query, conn)
print(df_results)

In [ ]:
import sqlite3
import pandas as pd

!rm -f chinook.db chinook.zip
!wget https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip
!unzip -o chinook.zip

conn = sqlite3.connect('chinook.db')
print("✅ データベース接続完了。手入力練習に進めます。")

In [ ]:
sql_query = """
SELECT
    T1.Name,
    COUNT(T2.AlbumId) AS AlbumCount
FROM
    artists AS T1
JOIN
    albums AS T2 ON T1.ArtistId = T2.ArtistId
GROUP BY
    T1.Name
HAVING
    AlbumCount >= 10
ORDER BY
    AlbumCount DESC;
"""
df_results = pd.read_sql_query(sql_query, conn)
print(df_results)

In [ ]:
sql_query = """
SELECT T1.Name, COUNT(T2.AlbumId) AS AlbumCount
FROM artists AS T1
JOIN albums AS T2 ON T1.ArtistId = T2.ArtistId
GROUP BY T1.Name
HAVING AlbumCount = (
    SELECT MAX(AlbumCount) FROM(
        SELECT COUNT(AlbumId) AS AlbumCount
        FROM albums
        GROUP BY ArtistId
    )
)
ORDER BY AlbumCount DESC;
"""
df_results = pd.read_sql_query(sql_query, conn)
conn.close()
print(df_results)

In [ ]:
sql_query = """
SELECT Name,Composer
FROM  Tracks
WHERE Composer = 'AC/DC'
ORDER BY Name;
"""
df_results = pd.read_sql_query(sql_query, conn)
print(df_results)

In [ ]:
sql_query = """
SELECT City, COUNT(EmployeeId) AS EmployeeCount
FROM employees
GROUP BY City
ORDER BY EmployeeCount DESC;
"""
df_results = pd.read_sql_query(sql_query, conn)
print(df_results)

In [ ]:
sql_query = """
SELECT T1.FirstName, T1.LastName, SUM(T2.Total) AS TotalSales
FROM customers AS T1
JOIN invoices AS T2 ON T1.CustomerId = T2.CustomerId
GROUP BY T1.CustomerId
ORDER BY TotalSales DESC
LIMIT 5;
"""
df_results = pd.read_sql_query(sql_query, conn)
print(df_results)

In [ ]:
sql_query ="""
SELECT Name, Composer
FROM tracks
WHERE Composer = 'AC/DC'
ORDER BY Name;
"""
df_results = pd.read_sql_query(sql_query, conn)
print(df_results)

In [ ]:
sql_query = """
SELECT City, COUNT(EmployeeId) AS EmployeeCount
FROM employees
GROUP BY City
ORDER BY EmployeeCount DESC;
"""
df_results = pd.read_sql_query(sql_query, conn)
print(df_results)

In [ ]:
sql_query ="""
SELECT T1.FirstName, T1.LastName, SUM(T2.Total) AS TotalSales
FROM customers AS T1
JOIN invoices AS T2 ON T1.CustomerId = T2.CustomerId
GROUP BY T1.CustomerId
ORDER BY totalSales DESC
LIMIT 5;
"""
df_results = pd.read_sql_query(sql_query, conn)
print(df_results)

In [ ]:
import pandas as pd
import sqlite3

In [ ]:
conn = sqlite3.connect('chinook.db')
sql_query = """
SELECT T1.Name AS ArtistName, T2.Title AS AlbumTitle
FROM artists AS T1
INNER JOIN albums AS T2 ON T1.ArtistId = T2.ArtistId
LIMIT 10;
"""
df_artists = pd.read_sql_query(sql_query, conn)
conn.close()

print("✅ Python へのデータ読み込み 完了")
print(df_artists.head())

In [ ]:
import pandas as pd  import sqlite3  conn = sqlite3.connect('chinook.db')
"df_customers = pd.read_sql_query(""SELECT CustomerId, FirstName, Country FROM customers LIMIT 10;"", conn)"
conn.close()

In [ ]:
import pandas as pd
import sqlite3

In [ ]:
conn = sqlite3.connect('chinook.db')

In [ ]:
sql_query = "SELECT CustomerId, FirstName, Country FROM customers LIMIT 10;"
df_customers = pd.read_sql_query(sql_query, conn)
conn.close()

In [ ]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('chinook.db')

sql_query = "SELECT CustomerId, FirstName, Country FROM customers LIMIT 10;"
df_customers = pd.read_sql_query(sql_query, conn)

conn.close()

print("✅ SQL実行・読み込みの型 完了")
print(df_customers.head())

In [ ]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('chinook.db')

sql_query = "SELECT CustomerId, FirstName, Country FROM customers LIMIT 10;"
df_customers = pd.read_sql_query(sql_query, conn)

conn.close()

print(df_customers.head())

In [ ]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('chinook.db')

sql_query = "SELECT CustomerId, FirstName, Country FROM customers LIMIT 10;"
df_customers = pd.read_sql_query(sql_query, conn)

conn.close()

print("✅ SQL実行・読み込みの型 完了")
print(df_customers.head())

In [ ]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('/content/chinook.db')
sql_query = "SELECT CustomerId, FirstName, Country FROM customers LIMIT 10;"
df_customers = pd.read_sql_query(sql_query, conn)
conn.close()

print("✅ SQL実行・読み込みの型 最終確認")
print(df_customers.head())

In [ ]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('/content/chinook.db')

sql_check = "SELECT name FROM sqlite_master WHERE type='table';"
df_tables = pd.read_sql_query(sql_check, conn)

conn.close()

print("✅ テーブル一覧の取得 完了")
print(df_tables)

In [ ]:
!wget -O chinook.db "https://github.com/lerocha/chinook-database/raw/master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite"

import pandas as pd
import sqlite3
conn = sqlite3.connect('chinook.db')

sql_check = "SELECT name FROM sqlite_master WHERE type='table';"
df_tables = pd.read_sql_query(sql_check, conn)

conn.close()

print("✅ 新しいデータベースでテーブル一覧を確認")
print(df_tables)

In [ ]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('chinook.db')

In [ ]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('chinook.db')
sql_query = "SELECT CustomerId, FirstName, Country FROM Customer LIMIT 10;"
df_customers = pd.read_sql_query(sql_query, conn)
conn.close()

In [ ]:
df_filtered_usa = df_customers[df_customers['Country'] == 'USA']
print("✅ WHERE (行の絞り込み) 翻訳 完了")
print(df_filtered_usa.head())
print("絞り込み後の行数:", len(df_filtered_usa))

In [ ]:
!wget https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.db
import pandas as pd
import sqlite3
conn = sqlite3.connect('chinook.db')
sql_query = "SELECT CustomerId, FirstName, Country FROM Customer LIMIT 10;"
df_customers = pd.read_sql_query(sql_query, conn)
conn.close()

In [ ]:
df_filtered_usa = df_customers[df_customers['Country']== 'USA']
print(df_filtered_usa.head())
print("絞り込み後の行数;", len(df_filtered_usa))

In [ ]:
conn = sqlite3.connect('chinook.db')
sql_query = "SELECT CustomerId, FirstName, Country FROM Customer;"
df_customers = pd.read_sql_query(sql_query, conn)
conn.close()

In [ ]:
df_filtered_usa = df_customers[df_customers['Country']== 'USA']
print(df_filtered_usa.head())
print("絞り込み後の行数;", len(df_filtered_usa))

In [ ]:
!wget https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.db
import pandas as pd
import sqlite3
conn = sqlite3.connect('chinook.db')
sql_query = "SELECT CustomerId, FirstName, Country FROM Customer;"
df_customers = pd.read_sql_query(sql_query, conn)
conn.close()
df_filtered_usa = df_customers[df_customers['Country'] == 'USA']
print(df_filtered_usa.head())
print("絞り込み後の行数:", len(df_filtered_usa))

In [ ]:
!cp /content/sample_data/chinook.db chinook.db
import pandas as pd
import sqlite3

In [ ]:
!wget https://raw.githubusercontent.com/lerocha/chinook-database/master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
import pandas as pd
import sqlite3
conn = sqlite3.connect('Chinook_Sqlite.sqlite')
sql_query = "SELECT CustomerId, FirstName, Country FROM Customer;"
df_customers = pd.read_sql_query(sql_query, conn)
conn.close()
df_filtered_usa = df_customers[df_customers['Country']== 'USA']
print(df_filtered_usa.head())
print("絞り込み後の行数;", len(df_filtered_usa))

In [ ]:
df_and = df_customers[
    (df_customers['Country'] == 'USA') &
    (df_customers['FirstName'] == 'Jack')
]
print("--- WHERE 応用 (AND) の結果 ---")
print(df_and)
print("絞り込み後の行数:", len(df_and))

In [ ]:
df_or = df_customers[(df_customers['Country'] == 'USA') |
                     (df_customers['Country'] == 'Canada')]

print("--- WHERE 応用 (OR) の結果 ---")
print(df_or)
print("絞り込み後の行数:", len(df_or))

In [ ]:
df_count_by_country = df_customers.groupby('Country')['CustomerId'].count()
print("--- GROUP BY の結果 ---")
print(df_count_by_country)

In [ ]:
df_mean_by_country = df_customers.groupby('Country')['CustomerId'].mean()
print('--- GROUP BY の応用 (.mean())')
print(df_mean_by_country)

In [ ]:
df_sum_by_country = df_customers.groupby('Country')['CustomerId'].sum()
print("--- GROUP BY 応用 (.sum()) の結果 ---")
print(df_sum_by_country)

In [ ]:
df_customers.isnull().sum()

In [ ]:
import pandas as pd

In [ ]:
df_titanic = pd.read_csv('train.csv')

In [ ]:
df_titanic = pd.read_csv('train.csv')
df_titanic['Age'].fillna(df_titanic['Age'].mean(), inplace=True)

In [ ]:
df_titanic.isnull().sum()

In [ ]:
df_titanic['Embarked'].mode()

In [ ]:
df_titanic['Embarked'].fillna(df_titanic['Embarked'].mode()[0], inplace=True)

In [ ]:
df_titanic = pd.read_csv('train.csv')

In [ ]:
df_titanic['Age'].fillna(df_titanic['Age'].mean(), inplace=True)
df_titanic['Embarked'].fillna(df_titanic['Embarked'].mode()[0], inplace=True)
df_titanic['Pclass'] = df_titanic['Pclass'].astype(object)

In [ ]:
df_test = pd.read_csv('test.csv')
df = pd.concat([df_titanic, df__test], ignore_index=True)

In [ ]:
df_titanic.dtypes

In [ ]:
df_titanic = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
df_titanic['Age'].fillna(df_titanic['Age'].mean(), inplace=True)
df_titanic['Embarked'].fillna(df_titanic['Embarked'].mode()[0], inplace=True)
df_titanic['Pclass'] =df_titanic['Pclass'].astype(object)
df = pd.concat([df_titanic, df_test], ignore_index=True)

In [ ]:
df_test = pd.read_csv('test.csv')
df = pd.concat([df_titanic, df_test], ignore_index=True)

In [ ]:
df_titanic = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
df_titanic['Age'].fillna(df_titanic['Age'].mean(), inplace=True)
df_titanic['Embarked'].fillna(df_titanic['Embarked'].mode()[0], inplace=True)
df_titanic['Pclass'] = df_titanic['Pclass'].astype(object)
df = pd.concat([df_titanic, df_test], ignore_index=True)

In [ ]:
df_titanic.dtypes

In [ ]:
df_titanic.isnull().sum()

In [ ]:
df['Title'] = df['Name'].apply(lambda x: x.split(',')[1].split('.')[0].strip())

In [ ]:
df['Title'] = df['Name'].apply(lambda x: x.split(',')[1].split('.')[0].strip())

In [ ]:
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1

In [ ]:
df = pd.get_dummies(df, columns=['Title', 'Embarked', 'Sex'], dummy_na=False)

In [ ]:
df.columns

In [ ]:
df_train = df[df['Survived'].notna()]
df_test = df[df['Survived'].isna()]

In [ ]:
from sklearn.linear_model import LogisticRegression
X = df_train.drop(columns=['PassengerId', 'Survived', 'Name', 'Ticket', 'Cabin'])
y = df_train['Survived']
model = LogisticRegression(solver='liblinear', random_state=0)
model.fit(X, y)

In [ ]:
df_train = df[df['Survived'].notna()]
df_test = df[df['Survived'].isna()]
from sklearn.linear_model import LogisticRegression
X = df_train.drop(columns=['PassengerId', 'Survived', 'Name', 'Ticket', 'Cabin'])
y = df_train['Survived']
model = LogisticRegression(solver='liblinear', random_state=0)
model.fit(X, y)

In [ ]:
df_test['Age'] = df_test['Age'].fillna(df_test['Age'].mean())
df_test['Fare'] = df_test['Fare'].fillna(df_test['Fare'].mean())

In [ ]:
X_test = df_test.drop(columns=['PassengerId', 'Survived', 'Name', 'Ticket', 'Cabin'])
predictions = model.predict(X_test)

In [ ]:
submission = pd.DataFrame({'PassengerId': df_test['PassengerId'], 'Survived': predictions})
submission['Survived'] = submission['Survived'].astype(int)
submission.to_csv('submission.csv', index=False)

In [ ]:
Y = reviews['sentiment_numeric']
X = reviews['review']

KeyError: 'sentiment_numeric'

In [ ]:
reviews.columns

Index(['review'], dtype='object')

In [ ]:
reviews['sentiment'].value_counts()

sentiment
positive    25000
negative    25000
Name: count, dtype: int64

In [ ]:
reviews = reviews.drop('sentiment', axis=1)
reviews.head()

                                              review
0  One of the other reviewers has mentioned that ...
1  A wonderful little production. <br /><br />The...
2  I thought this was a wonderful way to spend ti...
3  Basically there's a family where a little boy ...
4  Petter Mattei's "Love in the Time of Money" is...

In [ ]:
Y = reviews['sentiment_numeric']
X = reviews['review']

In [ ]:
Y = reviews['sentiment_numeric']
X = reviews['review']

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.25, random_state=42)

In [ ]:
reviews['sentiment_numeric'] = reviews['sentiment'].apply(lambda x: 1 if x == 'positive' else 0)
reviews['sentiment_numeric'] = reviews['sentiment'].apply(lambda x: 1 if x == 'positive' else 0)
Y = reviews['sentiment_numeric']
X = reviews['review']

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
X_train_vec = vectorizer.fit_transform(X_train)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
model = LogisticRegression(solver='liblinear', random_state=42)
model.fit(X_train_vec, Y_train)
X_test_vec = vectorizer.transform(X_test)
Y_pred = model.predict(X_test_vec)
score = accuracy_score(Y_test, Y_pred)
print(f'スコア（正解率）：{score}')

スコア（正解率）：0.89104

In [ ]:
!wget https://raw.githubusercontent.com/lerocha/chinook-database/master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite

--2025-11-24 05:46:42--  https://raw.githubusercontent.com/lerocha/chinook-database/master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1007616 (984K) [application/octet-stream]
Saving to: ‘Chinook_Sqlite.sqlite’

Chinook_Sqlite.sqli 100%[===================>] 984.00K  --.-KB/s    in 0.03s

2025-11-24 05:46:43 (32.0 MB/s) - ‘Chinook_Sqlite.sqlite’ saved [1007616/1007616]

In [ ]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('Chinook_Sqlite.sqlite')
sql_query = "SELECT CustomerId, FirstName, Country FROM Customer;"
df_customers = pd.read_sql_query(sql_query, conn)
conn.close()
df_filtered_usa = df_customers[df_customers['Country'] == 'USA']
print(df_filtered_usa.head())
print("絞り込み後の行数:", len(df_filtered_usa))

    CustomerId FirstName Country
15          16     Frank     USA
16          17      Jack     USA
17          18  Michelle     USA
18          19       Tim     USA
19          20       Dan     USA
絞り込み後の行数: 13

In [ ]:
df_titanic = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [ ]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
df = pd.concat([df_train, df_test], sort=False)
df['Age'] = df['Age'].fillna(df['Age'].mean())
df['Fare'] = df['Fare'].fillna(df['Fare'].mean())
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])
df['Title'] = df['Name'].apply(lambda x: x.split(',')[1].split('.')[0].strip())
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1
df = pd.get_dummies(df, columns=['Title', 'Embarked', 'Sex'], dummy_na=False)
df_train = df[df['Survived'].notna()]
df_test = df[df['Survived'].isna()]
X = df_train.drop(columns=['PassengerId', 'Survived', 'Name', 'Ticket', 'Cabin'])
y = df_train['Survived']
model = LogisticRegression(solver='liblinear', random_state=0)
model.fit(X, y)
X_test = df_test.drop(columns=['PassengerId', 'Survived', 'Name', 'Ticket', 'Cabin'])
predictions = model.predict(X_test)

submission = pd.DataFrame({'PassengerId': df_test['PassengerId'], 'Survived': predictions})
submission['Survived'] = submission['Survived'].astype(int)
submission.to_csv('submission.csv', index=False)

In [ ]:
import pandas as pd
reviews = pd.read_csv('IMDB Dataset.csv')
reviews.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [ ]:
import pandas as pd
reviews = pd.read_csv('IMDB Dataset.csv')
reviews.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive